/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
 #controles ul {
   transition: transform 400ms ease-out;
 }

/*
 * Exercício 2: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas sugestões:
 *   - agitado: animal piscando (opacidade variando)
 *   - alimentado: uma borda verde no animal e o animal fica girando de alegria
 *   - perturbado: animal fica pulsando
 *   - instinto-selvagem: animal dá um salto e cresce, com uma borda vermelha
 */
.agitado {
  animation: blinker 750ms ease-in-out infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.agitado img {}

.alimentado {
  animation: spinning 500ms ease-in-out infinite;
}

@keyframes spinning{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg);  }
}
.alimentado img {
  border: 5px solid green;
}

.perturbado {
  animation: pulsing 250ms ease-in-out infinite alternate;
}

@keyframes pulsing{
    from { transform: scale(1); }
    to { transform: scale(1.5); }
}
.perturbado img {}

.instinto-selvagem {
  animation: jumpNGrow 500ms ease-in-out infinite alternate;
}

@keyframes jumpNGrow{
  from { transform: translate(0,0) scale(1);}
  to { transform: translate(0,-50px) scale(2); }
}
.instinto-selvagem img {
  border: 5px solid red;
}

/*
 * Exercício 3: Criar uma imagem sprite com as imagens dos botões de controle
 * (icone-comecar.png e icone-parar.png). Sugestões:
 *   - Usar o nome: sprite-controles.png
 *   - Usar o paint.NET (ou Photoshop) para gerar a nova imagem (sprite)
 *
 */

.comecar,
.parar {}

.comecar {}

.parar {}
